@import 'globals/variables';
@import 'globals/mixins';

.pill-wrapper {
  padding: $grid-base-2x $grid-base-3x;
  border-radius: 100vw;
  box-sizing: border-box;
  @include centered;
  display: inline-flex;

  .pill-text {
    font-size: $font-small-2;
    text-transform: uppercase;
    font-weight: $weight-heavy;
    letter-spacing: 0.8px;
    text-align: center;
  }

  &--default {
    background-color: $white;
    border: 1px solid $cyan-light-1;
    .pill-text {
      color: $cyan-light-1;
    }

    &:hover {
      background-color: $cyan-light-5;
    }
  }

  &--yellow {
    background-color: rgba($mango-two, 0.3);
    .pill-text {
      color: $light-orange;
    }
  }

  &--blue {
    background-color: rgba($light-navy, 0.2);
    .pill-text {
      color: $light-navy;
    }
  }

  &--grey {
    background-color: $greyscale-light-1;
    .pill-text {
      color: $greyscale-dark-4;
    }
  }

  &--white{
    box-shadow: 0 2px 4px 0 $greyscale-light-1;
    .pill-text{
      color: $warm-grey;
      font-size: 14px;
      text-transform: none;
      font-weight: $weight-normal;
    }
  }
}
