@import 'globals/_variables';
@import 'globals/_mixins';

.container {
	display: inline-flex;
	flex-direction: column;
	border: 1px solid lightgray;
	padding: 8px;
	margin: 8px;
	border-radius: 4px;
	font-size: 0.9em;
	background-color: $white-four;
}

.title {
	margin: 0;
}
