@import 'globals/_variables';
@import 'globals/_mixins';

.container {
	display: inline-flex;
	flex-direction: column;
	border: 1px solid lightgray;
	padding: $grid-base-2x;
	margin: $grid-base-2x;
	border-radius: $grid-base;
	font-size: 0.9em;
	background-color: $white-four;
}

.title {
	margin: 0;
}
