/**
 * This whole file is full of hacks because it tries to override
 * the material-ui multi-select component to be only a
 * single icon-based component.
 *
 * Like, seriously. I look at this file and say,
 * "Ye kya bakchodi hai?"
 *
 * If you can throw this component out and replace with one that
 * actually makes sense, CSS-wise, please do.
 *
 * So far this is used on RMS Frontend, and Service Panel Frontend.
 */

@import 'globals/variables';
@import 'globals/mixins';

.head-filter {
  @include centered;
  transform: scale(0.7);
  height: $grid-base * 7;
  width: $grid-base * 7;
  position: relative;
  right: -$grid-base;
  margin-left: $grid-base-3x;
}

.head-filter-target {
  position: relative;
}

.filter-count {
  @include centered;
  @include circle($grid-base-4x);
  line-height: 1em;
  background: $cyan-standard;
  color: white;
  font-size: $font-standard;
  position: absolute;
  top: -19px;
  left: 47px;
  z-index: 1;
}

.filter-icon {
  position: absolute;
  top: 1px;
  right: 10px;
}

div.filter-select {
  border: 1px solid $cyan-standard;
  border-radius: $grid-base;
  transition: background-color $animation-standard;
  &:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:before,
  &:after {
    display: none;
  }
}

div.select-internal {
  overflow: unset;
  padding: 12px 40px 16px 0;
  height: 0;
}

div.select-root {
  width: 54px;
}
