@import 'globals/_variables';
@import 'globals/_mixins';

.code {
	position: relative;
	@include expanded;

	pre {
		margin: 0 !important;
		padding-top: 28px !important;
		box-sizing: border-box;
		@include expanded;
	}
}
