@import 'globals/_variables';
@import 'globals/_mixins';

.container {
	@include expanded;
	display: flex;
	background-color: $white-three;
	color: $black-two;
	overflow: hidden;
}

.sidebar-header {
	padding: $grid-base-3x;
	font-size: $font-title;
	line-height: 48px;
	letter-spacing: 1.5px;
}

.list {
	overflow-y: auto;
	background: $gradient-orangeish-flipped;
	color: $white-eight;
	width: 25vw;
	flex-shrink: 0;
	padding-bottom: 50px;
}

@keyframes list-item-fade-in {
	0% { opacity: 0; transform: translateX(-($grid-base * 10)); }
	100% { opacity: 1; transform: translateX(0); }
}

$list-item-shift: -($grid-base * 10);
$list-item-animation-duration: $animation-standard * 2;
$animation-delay-increment: $list-item-animation-duration / 8;
$component-count: 100;

.component-list-item {
	opacity: 0;
	transform: translateX($list-item-shift);
	animation: list-item-fade-in $list-item-animation-duration ease-out forwards;
}

@for $i from 1 through $component-count {
	.component-list-item:nth-of-type(#{$i}){
		animation-delay: $i * $animation-delay-increment;
	}
}

.component-preview-list-wrapper {
	max-height: 100vh;
	overflow: auto;
	display: flex;
	flex-grow: 1;
}

.component-list-container {
	flex-grow: 1;
	overflow: auto;
	border-spacing: 0;

	td {
		padding: 0;
	}
}

@keyframes fade-in-out {
	0% { background-color: transparentize($pumpkin-orange, 1); }
	20% { background-color: transparentize($pumpkin-orange, 0.6); }
	80% { background-color: transparentize($pumpkin-orange, 0.6); }
	100% { background-color: transparentize($pumpkin-orange, 1); }
}

.active {
	animation: list-item-fade-in $list-item-animation-duration ease-out forwards, fade-in-out ($animation-standard * 6) infinite;
}
