@import 'globals/_variables';
@import 'globals/_mixins';

.container {
	@include expanded;
	display: flex;
	background-color: $white-three;
	color: $black-two;
	overflow: hidden;
}

.sidebar-header {
	padding: $grid-base-3x;
	font-size: $font-title;
	line-height: 48px;
	letter-spacing: 1.5px;
}

.list {
	overflow-y: auto;
	background: $gradient-orangeish-flipped;
	color: $white-eight;
	width: 25vw;
	flex-shrink: 0;
	padding-bottom: 50px;
}

.component-preview-list-wrapper {
	max-height: 100vh;
	overflow: auto;
	display: flex;
	flex-grow: 1;
}

.component-list-container {
	flex-grow: 1;
	overflow: auto;
	border-spacing: 0;

	td {
		padding: 0;
	}
}

@keyframes fade-in-out {
	0% { background-color: transparentize($pumpkin-orange, 1); }
	20% { background-color: transparentize($pumpkin-orange, 0.6); }
	80% { background-color: transparentize($pumpkin-orange, 0.6); }
	100% { background-color: transparentize($pumpkin-orange, 1); }
}

.active {
	animation-name: fade-in-out;
	animation-duration: $animation-standard * 6;
	animation-iteration-count: infinite;
}
