@import 'globals/variables';

.list {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.connector {
  height: 1px;
  flex-grow: 1;
}

.border-solid {
  border-top: 1px solid #ccc;
}

.border-dashed {
  border-top: 1px dashed #ccc;
}

.hide {
  visibility: hidden;
}

.content,
.content-secondary {
  display: flex;
  justify-content: space-between;
  text-align: center;

  > div {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: $grid-base-3x;
  }
}

.steps {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
