@import 'globals/variables';
@import 'globals/mixins';

$arrow-size: 10px;
.tooltip {
  text-align: center;
  width: 220px;
  height: 30px;
  padding: $grid-base-3x;
  background-image: $gradient-orangeish;
  box-shadow: $box-shadow-butterscotch;
  border-radius: $grid-base;
  font-size: $font-standard;
  letter-spacing: 0.5px;
  color: $white;
  font-weight: 300;
  position: relative;
  z-index: 100;

  @include centered;

  .arrow {
    position: absolute;
    top: -($arrow-size / 2);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    width: 0;
    height: 0;
    border-right: 5px solid transparent;
    border-bottom: 5px solid $orange-butterscotch;
    border-left: 5px solid transparent;
  }

  &.tooltip--left .arrow {
    left: calc(0% + #{$grid-base});
    border-bottom: 5px solid $butterscotch;
  }

  &.tooltip--right .arrow {
    left: unset;
    right: calc(0% + #{$grid-base});
    border-bottom: 5px solid $pumpkin-orange;
  }
}
